<%-include('header.ejs')%>
	<link rel = "stylesheet" href ="/styles.css">
</head>
<body>
	<%-include('navbar.ejs')%>
	<div class= "container">
	<h1 class="text-center"><%=h%></h1>
	<p><%=t%></p>
	
	</div>
	<%-include('footer.ejs')%>